<main>
    <section class="container mt-4">
        <div class="text-center mb-4">
            <div class="mb-4">
                <h1>Contact Global Horizons</h1>
            </div>
            <p>
                At Global Horizons Tours, we’re passionate about turning travel dreams into reality. From 
                ancient ruins to breathtaking landscapes, our expert guides craft unforgettable journeys. Connect 
                with us to explore the world’s wonders and embark on an adventure that will inspire and transform. 
                Welcome to a lifetime of extraordinary experiences!
            </p>
        </div>
    </section>
    
    <section class="container">
        <div class="row mt-4">
            <div class="col-lg-6 align-items-center">
                <div class="row text-center">
                    <p class="col-6">
                        <i class="fas fa-envelope"></i> Global.H.Tour@email.com
                    </p>
                    <p class="col-6">
                        <i class="fas fa-phone"></i> 04-66879505
                    </p>
                </div>
                <div class="text-center p-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14924.706897638913!2d144.37151263649787!3d-38.151047543623946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad414034678973d%3A0xa710cb92cba05923!2sGeelong%20Gallery!5e0!3m2!1ses!2sau!4v1723769380462!5m2!1ses!2sau" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="p-4 rounded">
                    <div class="form-group row">
                        <label for="firstname" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control custom-input" id="firstname" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="surname" class="col-sm-2 col-form-label">Surname:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control custom-input" id="surname" placeholder="Enter your surname" required>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control custom-input" id="email" placeholder="Enter your email" required>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="mobile" class="col-sm-2 col-form-label">Mobile:</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control custom-input" id="mobile" placeholder="Enter your mobile" required >
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="message" class="col-sm-2 col-form-label">
                            What questions do you have?:
                        </label>
                        <div class="col-sm-10">
                            <textarea class="form-control custom-textarea" id="message" rows="4" placeholder="Enter your message"></textarea>
                            <div class="col-12 col-sm-10 mt-3">
                                <div class="form-check">
                                    <input class="form-check-input custom-checkbox" type="checkbox" id="accept-concent" name="consent" value="consent">
                                    <label class="form-check-label" for="accept-concent">
                                        I agree to the <a href="" data-bs-toggle="offcanvas" data-bs-target="#privacy-policy">privacy policy</a>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn custom-btn">Sign up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>